@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	color: black;
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html,
body {
	height: 100%;
	background: #010409;
	line-height: 1;
	font-size: 14px;
	color: black;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}
p,
h1 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
::-webkit-scrollbar {
	width: 0;
}
button {
	outline: none;
	/*Дополнительный сброс стилей для мобильной версии*/
	-webkit-tap-highlight-color: transparent; /* Устанавливаем цвет подсветки при касании */
	-webkit-touch-callout: none; /* Отключаем меню долгого нажатия на кнопке */
	-webkit-user-select: none; /* Запрещаем выделение текста */
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input {
	outline: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.blurred-background {
	position: absolute;
	inset: 0;
	background-color: rgb(7, 6, 6);
	opacity: 0.6;
	z-index: -1; /* Поднимаем его за пределы других элементов */
	filter: blur(10px); /* Можно изменить значение */
	/* Примените размытие */
}
.select-style {
	border-radius: none !important;
	outline: none !important;
}
.select-style__control {
	border-radius: 0 !important;
	border-top-right-radius: 4px !important ;
	border-bottom-right-radius: 4px !important;
	border: none !important;
	outline: none !important;
	height: 38.5px !important;
	width: 100px !important;
}
.select-style__control--is-focused {
	box-shadow: none !important;
	border: none !important;
}
.select-style__value-container {
	padding: 0 !important;
}
.select-style__indicator {
	padding: 1px !important;
}
.select-style__placeholder {
	font-size: 1.25rem !important;
	line-height: 1.75rem !important;
	color: hsla(0, 0%, 50%, 0.849) !important;
}
.select-style__single-value {
	padding-left: 1px;
}
input[type='number'] {
	-webkit-user-select: number; /* разрешаем только текстовый ввод */
}
.custom-button {
	border-radius: 0.25rem;
}
.calc-container {
	height: calc(100vh - 49px);
}
.img-app {
	left: 0;
	bottom: -10px;
	max-width: none;
	height: 50%;
}
